
<!--CONTENT-->
<div class="container__content">

  <!--SEARCH INPUT-->
  <div class="container__search">
    <input class="search__input" [(ngModel)]="searchInput" (change)="search()" [placeholder]="'Enter band name'">
  </div>

  <!--TABLE-->
  <div class="table__wrapper">
    <!--TABLE HEADER-->
    <div class="table__header--wrapper">
      <div class="table__header" *ngFor="let label of columnsToDisplay">
        {{label}}
      </div>
    </div>

    <!--TABLE ROWS-->
    <div class="table__row" *ngFor="let item of musicList">
      <div class="table__row--column">
        {{item.album.title}}
      </div>
      <div class="table__row--column">
        {{item.artist.name}}
      </div>
      <div class="table__row--column">
        {{item.duration}}
      </div>
      <div class="table__row--column">
        {{item.title}}
      </div>
    </div>
  </div>

</div>
