
.container__content {
  background-image: url('src/assets/images/band-3.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;

  .container__search {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;

    .search__input {
      height: 40px;
      width: 400px;
      font-size: 18px;
      padding-left: 16px;
      border: 5px solid var(--purple-color);
      border-radius: 15px;
      outline: none;
    }
  }

  .table__wrapper {
    margin-bottom: 30px;
    width: 80%;
    background-color: var(--border-black-color);

    .table__header--wrapper {
      display: flex;
      justify-content: space-around;
      background: var(--border-black-color);

      .table__header {
        height: 50px;
        display: flex;
        align-items: center;
        border: 1px solid var(--background-grey-color);
        width: -webkit-fill-available;
        justify-content: center;
        color: var(--font-white-color);
      }
    }

    .table__row {
      display: flex;
      justify-content: space-around;

      .table__row--column {
        height: 30px;
        display: flex;
        align-items: center;
        border: 1px solid var(--background-grey-color);
        width: -webkit-fill-available;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        color: var(--font-white-color);
      }
    }
  }
}
